<form class='create-form'>
  <label for='producer'>Producer:</label>
  <input name='producer' id='producer' type='text' />
  <label for='wine-name'>Wine Name:</label>
  <input name='wine-name' id='wine-name' type='text' />
  <label for='vintage'>Vintage:</label>
  <input name='vintage' id='vintage' type='text' />
  <label for='region'>Region:</label>
  <input name='region' id='region' type='text' />
  <label for='wine-type'>Wine Type:</label>
  <select name='wine-type' id='wine-type'>
    <option>Red Wine</option>
    <option>White Wine</option>
    <option>Rose Wine</option>
    <option>Sparkling Wine</option>
    <option>Dessert Wine</option>
    <option>Other</option>
  </select>
  <label for='variety'>Variety:</label>
  <select name='variety' id='variety'>
    <option value="24">Albarino</option>
    <option value="16">Barbera</option>
    <option value="1">Cabernet</option>
    <option value="3">Cabernet Franc</option>
    <option value="9">Chardonnay</option>
    <option value="13">Chenin Blanc</option>
    <option value="17">Dolcetto</option>
    <option value="11">Gamay</option>
    <option value="23">Gewurztraminer</option>
    <option value="7">Grenache</option>
    <option value="4">Malbec</option>
    <option value="2">Merlot</option>
    <option value="8">Mourvedre</option>
    <option value="26">Muscat</option>
    <option value="15">Nebbiolo</option>
    <option value="5">Petit Verdot</option>
    <option value="21">Pinot Blanc</option>
    <option value="20">Pinot Gris</option>
    <option value="10">Pinot Noir</option>
    <option value="22">Riesling</option>
    <option value="18">Sangiovese</option>
    <option value="12">Sauvignon Blanc</option>
    <option value="14">Semillon</option>
    <option value="6">Syrah</option>
    <option value="27">Tempranillo</option>
    <option value="25">Verdejo</option>    
    <option value="30">Sparkling</option>
    <option value="28">Other Red</option>
    <option value="29">Other White</option>
    <option value="19">Other Italian Red</option>
    <option value="31">Bordeaux Blend</option>
    <option value="32">Rhone Blend</option>
    <option value="33">Other Red Blend</option>
    <option value="34">Other White Blend</option>    
    <option value="35">Fortified/Dessert</option>
  </select>
  <label for='reviews'>Reviews:</label>
  <input name='reviews' id='reviews' type='text' />
  <label for='tasting-notes'>Tasting Notes:</label>
  <input name='tasting-notes' id='tasting-notes' type='text' />
  <label for='stock'>Stock:</label>
  <input name='stock' id='stock' type='text' />
  <label for='cellar-location'>Cellar Location:</label>
  <input name='cellar-location' id='cellar-location' type='text' />
  <button type="submit" class="btn" id="bottle-button">Add Your Bottle!</button>
</form>