<<<<<<< Updated upstream
<div class='container'>
    <h2>Add To Cellar</h2>
  {{> formbottle bottle }}

</div>
<script src="../js/addBottle.js"></script>
=======
<button id="addBottle">Add Bottle</button>
<script src="/js/addBottle.js">
</script>
>>>>>>> Stashed changes
