<div class='container'>
    <h2>Add To Cellar</h2>
  {{> formbottle bottle }}
    <a class='btn btn-secondary' href='/'>Cancel</a> <a type='submit' class='btn btn-primary' id='bottle-button'>Add Your Bottle!</a>
    <a type='submit' class='btn btn-primary' id='bottle-and-another-button'>Add & Add Another!</a>
</div>
<script src="../js/addBottle.js"></script>
