<div class="container">
    <form class="create-form">
        <label for="producer">Producer:</label>
        <input name="producer" id="producer" type="text">

        <label for="producer">Producer:</label>
        <input name="producer" id="producer" type="text">
        <label for="wine-name">Wine Name:</label>
        <input name="wine-name" id="wine-name" type="text">
        <label for="vintage">Vintage:</label>
        <input name="vintage" id="vintage" type="text">
        <label for="region">Region:</label>
        <input name="region" id="region" type="text">
        <label for="wine-type">Wine Type:</label>
        <select name="wine-type" id="wine-type">
            <option>Red Wine</option>
            <option>White Wine</option>
            <option>Rose Wine</option>
            <option>Sparkling Wine</option>
            <option>Dessert Wine</option>
            <option>Other</option>
        </select>
        <label for="variety">Variety:</label>
        <select name="variety" id="variety">
            <option>Albarino</option>
            <option>Barbera</option>
            <option>Cabernet</option>
            <option>Cabernet Franc</option>
            <option>Chardonnay</option>
            <option>Chenin Blanc</option>
            <option>Dolcetto</option>
            <option>Fortified/Dessert</option>
            <option>Gamay</option>
            <option>Gewurztraminer</option>
            <option>Grenache</option>
            <option>Malbec</option>
            <option>Merlot</option>
            <option>Mourvedre</option>
            <option>Muscat</option>
            <option>Nebbiolo</option>
            <option>Petit Verdot</option>
            <option>Pinot Blanc</option>
            <option>Pinot Gris</option>
            <option>Pinot Noir</option>         
            <option>Riesling</option>
            <option>Sangiovese</option>
            <option>Sauvignon Blanc</option>
            <option>Semillon</option>
            <option>Sparkling</option>
            <option>Syrah</option>
            <option>Tempranillo</option>
            <option>Verdejo</option>
            <option>Other Red</option>
            <option>Other White</option>
            <option>Other Italian Red</option>
            <option>Bordeaux Blend</option>
            <option>Rhone Blend</option>
            <option>Other Red Blend</option>
            <option>Other White Blend</option>

        </select>
        <label for="reviews">Reviews:</label>
        <input name="reviews" id="reviews" type="text">
        <label for="tasting-notes">Tasting Notes:</label>
        <input name="tasting-notes" id="tasting-notes" type="text">
        <label for="stock">Stock:</label>
        <input name="stock" id="stock" type="text">
        <label for="cellar-location">Cellar Location:</label>
        <input name="cellar-location" id="cellar-location" type="text">
    </form>
</div>