<div class='container'>
    <h2>Update cellar</h2>
  {{> formbottle bottle }}
  <a type='submit' class='btn btn-primary' id='update-cellar'>Update cellar</a>
  <a type='submit' class='btn btn-primary' id='delete-bottle'>Delete This Wine</a>
</div>
<script src="/js/editBottle.js"></script>
<script src="/js/deleteBottle.js"></script>