<div class='container overflow-hidden'>
  <div class='row gy-5'>
    <div class='col-md-6'>
      <h2>Login</h2>
      <div class='p-3 border bg-dark text-white'>
        <form class="login-form">
          <div class='mb-3'>
            <label for='email-login' class='form-label'>Email address</label>
            <input type='email' class='form-control' name='email' id='email-login' />
          </div>
          <div class='mb-3'>
            <label for='password-login' class='form-label'>Password</label>
            <input
              type='password'
              class='form-control'
              name='password'
              id='password-login'
            />
          </div>
          <button type='submit' class='btn btn-secondary'>Login</button>
        </form>
      </div>
    </div>
    <div class='col-md-6'>
      <h2>Sign-up</h2>
      <div class='p-3 border bg-dark text-white'>
        <form class="signup-form">
          <div method="post" action="send" class='mb-3'>
            <label for='username-signup' class='form-label'>Username</label>
            <input
              type='text'
              class='form-control'
              name='username'
              id='username-signup'
            />
          </div>
          <div class='mb-3'>
            <label for='email-signup' class='form-label'>Email address</label>
            <input
              type='email'
              class='form-control'
              name='email'
              id="email-signup"
              aria-describedby='emailHelp'
            />
            <div id='emailHelp' class='form-text'>We'll never share your email
              with anyone else.</div>
          </div>
          <div class='mb-3'>
            <label for='password-login' class='form-label'>Create Password</label>
            <input
              type='password'
              class='form-control'
              name='password'
              id="password-signup"
              minlength=8
              aria-describedby='passwordHelp'
            />
            <div id="passwordHelp" class='form-text'>Must be 8 characters long.</div>
          </div>
          <button type='submit' class='btn btn-secondary'>Sign-up</button>
        </form>
    </div>
  </div>
</div>

<script src='/js/login.js'></script>
